asgiref==3.8.1 ; python_version >= "3.12"
click==8.1.8 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
django-filter==25.1 ; python_version >= "3.12"
django==5.1.7 ; python_version >= "3.12"
djangorestframework==3.16.0 ; python_version >= "3.12"
gunicorn==23.0.0 ; python_version >= "3.12"
h11==0.14.0 ; python_version >= "3.12"
packaging==24.2 ; python_version >= "3.12"
psycopg2-binary==2.9.10 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12" and sys_platform == "win32"
uvicorn==0.34.0 ; python_version >= "3.12"
